[submodule "riscv-tools"]
	path = riscv-tools
	url = git@github.com:ucb-bar/esp-tools.git
[submodule "hardfloat"]
	path = hardfloat
	url = git@github.com:ucb-bar/berkeley-hardfloat.git
[submodule "hwacha"]
	path = hwacha
	url = git@github.com:ucb-bar/hwacha
[submodule "vlsi"]
	path = vlsi
	url = git@github.com:ucb-bar/vlsi.git
[submodule "context-dependent-environments"]
	path = context-dependent-environments
	url = https://github.com/ucb-bar/context-dependent-environments
[submodule "torture"]
	path = torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "chisel3"]
	path = chisel3
	url = https://github.com/ucb-bar/chisel3.git
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/ucb-bar/firrtl.git
